{% extends "layout.html" %}

{% block body %}
<header class="bgimg w3-display-container w3-animate-opacity w3-text-white">
<div class="w3-display-middle">
<h1 class="w3-jumbo">Château Carbone</h1>
<p>{{ this.body }}</p>
<div class="w3-display-container">
		{%- for article in this.children %}
		<a class="w3-black w3-button" href="{{ article|url }}">{{ article.title }}</a>
		{%- endfor %}
</div>
</div>
</header>
  

{% endblock %}


