<!doctype html>
<meta charset="utf-8">
<link rel="stylesheet" href="{{ '/static/w3.css'|url }}">
<link rel="stylesheet" href="{{ '/static/cc.css'|url }}">

<title>Château Carbone - {% block title %}Accueil{% endblock %} </title>
<body>

{% block body %}{% endblock %} 


<footer class="w3-display-bottomleft w3-padding-large">
<p class="w3-large w3-center">
<a class="w3-black w3-button" href="https://framagit.org/chateaucarbone">framagit.org/chateaucarbone</a>
</p>
</footer>


</body>

</html>